.picture-gallery {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr ;
    display: grid;
    gap: 20px;

    div {

        height: 60px;
        width: 60px;
    }
    div>img {
        height: 60px;
        width: 60px;
    }

    .first {
        // grid-row-start: 1;
        // grid-row-end: 2;
    }

}