
$mainGreen: #5F7161;
$secondGreen: #6D8B74;
$viaggioWheat: #EFEAD8;
$viaggioGray: #D0C9C0;
$viaggioFontBold: Montserrat-bold;
$viaggioFontRegular: Montserrat-bold;
$viaggioFontItalic: Montserrat-italic;

