@import '../../sass/variables';


.wrapper {

    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
}

.topbar {
    // background-color: $mainGreen;
    color: black;
    height: 50px;
    // border-bottom: 1px $viaggioGray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: white;
    padding: 0 60px;
    transition: background-color 0.5s linear;
    // font-family: $viaggioFontBold;


    &__user {
        height: 38px;
        width: 38px;
        background-color: white;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px $mainGreen solid;
        cursor: pointer;
        position: relative;

        img {
            height: 25px;
        }

        &-dropdown {
            list-style: none;
            opacity: 0;
            background-color: white;
            width: 200px;
            // height: 200px;
            position: absolute;
            top: calc(100% - 13px);
            right: 0;
            padding: 0;
            margin: 0;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;

            li {
                width: fit-content;
                &:hover {
                    color: $mainGreen;
                }
            }
            
            
            &--active {
                opacity: 1;
                transition: opacity 0.1s linear, top 0.1s linear;
                top: calc(100% + 3px);
                -webkit-box-shadow: -10px 10px 19px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: -10px 10px 19px -2px rgba(0,0,0,0.75);
                box-shadow: -10px 10px 19px -2px rgba(0,0,0,0.75);

            }
        }
    }

    &__logo {
        height: 60px;
    }
    
    &--white {
        background-color: white;
        transition: background-color 0.5s linear;
    }
    
    &__items { 
        display: flex;
        list-style-type: none;
        color: $mainGreen;
        margin-left: auto;
        
        &--active {
            font-family: $viaggioFontBold !important;
            // color: inherit;'

            
            &::after {
                content: "";
                bottom: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background-color: $mainGreen;
                position: absolute;
                border-radius: 10px;
                color: $mainGreen;
                transition: width 0.3s ease-in;         
                &::after {
                    width: 100%;
                    transition: width 0.3s ease-in;         
                }

            }
            
    
        }
        
        li {
            margin-right: 10px;
            cursor: pointer;
            position: relative;
        
            
          
            
            &:last-child {
                margin-right: 30px;
            }

            &::after {
                content: "";
                bottom: 0;
                left: 0;
                height: 3px;
                width: 0;
                background-color: $mainGreen;
                position: absolute;
                border-radius: 10px;

            }

            &:hover {
                color: $mainGreen;
                transition: width 0.3s ease-in;         
                &::after {
                    width: 100%;
                    transition: width 0.3s ease-in;         
                }
            }
        }


        li:active, li:visited {
            color: $mainGreen;
            text-decoration: none;
        }
    }
    &__login {
        width: 100px;
        display: flex;
        text-align: center;
        height: 30px;
        justify-content: center;
        align-items: center;

    }
}