@import '../../sass/variables';

.topbar {
    background-color: $mainGreen;
    color: white;


    ul {
        display: flex;
        list-style-type: none;


        li:active, li:visited{
            color: inherit;
            text-decoration: none;
        }
    }
}