@import '../../sass/variables';


.wrapper {

    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
}

.topbar {
    // background-color: $mainGreen;
    color: black;
    height: 50px;
    // border-bottom: 1px $viaggioGray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: white;
    padding: 0 60px;

    &--white {
        background-color: white;
        transition: background-color 0.5s linear;
    }
    
    &__items { 
        display: flex;
        list-style-type: none;
        color: $viaggioGray;
        margin-left: auto;
        
        
        li {
            margin-right: 10px;
            cursor: pointer;
            position: relative;
            
            &:last-child {
                margin-right: 30px;
            }

            &::after {
                content: "";
                bottom: 0;
                left: 0;
                height: 3px;
                width: 0;
                background-color: $mainGreen;
                position: absolute;
                border-radius: 10px;

            }

            &:hover {
                color: $mainGreen;
                transition: width 0.3s ease-in;         
                &::after {
                    width: 100%;
                    transition: width 0.3s ease-in;         
                }
            }
        }


        li:active, li:visited {
            color: $mainGreen;
            text-decoration: none;
        }
    }
    &__login {
        width: 100px;
        display: flex;
        text-align: center;
        height: 30px;
        justify-content: center;
        align-items: center;

    }
}