@import '../../../sass/variables';

.bordered-button {
    border: 2px solid $mainGreen;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    color: $mainGreen;
    transition: all 0.2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat-bold;

    &:hover {
        background-color: $mainGreen;
        color: white;
        transition: all 0.2s linear;
    }
}