.locations-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;

}

.location {
    color: gray;
    list-style-type: none;
    width: 350px;
    height: 450px;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: 0 20px 40px -14px;
    background-color: #efefef;

    &__info {
        padding: 15px;
    }


    &__image {
        height: 50%;
    }

    &__name {
        font-size: 25px;

    }
    &__description {
        margin: 10px 0;

    }
    &__show {
        width: 100%;
        border: 1px solid rgb(167, 167, 167);
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        a:active, a:visited {
            color: inherit;
            text-decoration: none;

        }
    }
}
