@import '../../sass/variables';
.home {
    position: absolute;
    top: 0;


    .intro {
        display: flex;
        // justify-content: center;
        padding: 10px 20px;
        align-items: center;
        gap: 10px;
        background-image: url('../../assets//images//home-bg.jpg');
        background-size: cover;
        height: 450px;
        &__share {
            font-size: 20px;
            border-radius: 20px;
            color: white;
            width: 200px;
            height: 50px;
        }

        p {
            font-size: 8vmin;
            color: white;
            font-family: $viaggioFontBold;
            
            strong {
                color: $mainGreen;
                font-family: inherit;
            }
        }
        img {
            width: 50%;
        }
    }

    .locations-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
        margin-top: 50px;
        list-style: none;
    
    }   
}
