@import '../../../sass/variables';


.input {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    padding-left: 20px;
    background-color: inherit;
    // outline-color: $mainGreen;
    border-style: solid;
    outline: none;
    color: $viaggioGray;
    border-color: $viaggioGray;
    cursor: pointer;
    
    
    &:focus-visible {
        border-color: $mainGreen;
        cursor: text;
        outline: none;
    }
}